@page
@model animalShelter.Pages.Administration.IndexModel

@{
    ViewData["Title"] = "Administration";
}
<br/>
<div class="text-center">
    <h1 class="align-center">Administration</h1>
</div>

<div class="row">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/08/07/20/48/animals-2607704__480.jpg"
             alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">User Administration</h5>
            <p class="card-text">Create, edit and delete Users</p>
            <button
                class="btn btn-primary"
                role="link">
                Users
            </button>
        </div>
    </div>
       <div class="card" style="width: 18rem;">
           <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/09/07/17/48/chihuahua-2726117__480.jpg"
                alt="Card image cap">
           <div class="card-body">
               <h5 class="card-title">Dog Administration</h5>
               <p class="card-text">Create, edit and delete Dogs</p>
               <button
                   class="btn btn-primary"
                   role="link">
                   Dogs
               </button>
           </div>
       </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/03/28/16/23/cute-3269715__480.jpg"
             alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Cat Administration</h5>
            <p class="card-text">Create, edit and delete Cats</p>
            <button
                class="btn btn-primary"
                role="link">
                Cats
            </button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/08/06/13/00/puppy-2592307__480.jpg"
             alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Dog Adoption Administration</h5>
            <p class="card-text">Create, edit and delete Dog Adoptions</p>
            <button
                class="btn btn-primary"
                role="link">
                Dog Adoptions
            </button>
        </div>
    </div>
    
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/08/19/23/32/kitten-3617833__480.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Cat Adoption Administration</h5>
                <p class="card-text">Create, edit and delete Cat Adoptions</p>
                <button
                    class="btn btn-primary"
                    role="link">
                   Cat Adoptions
                </button>
            </div>
        </div>
</div>
