@page
@model animalShelter.Pages.Account.IndexModel

@{
    ViewData["Title"] = "My Account";
}
<br/>
<div class="text-center">
    <h1 class="align-center">My Account</h1>
    <br/>
    <h4 class="align-center">Coming soon</h4>
</div>