@page
@model animalShelter.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create User";
}
<br/>
<h4>Create New User</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control"/>
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control"/>
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.AddressLine1" class="control-label"></label>
                <input asp-for="User.AddressLine1" class="form-control"/>
                <span asp-validation-for="User.AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Postcode" class="control-label"></label>
                <input asp-for="User.Postcode" class="form-control"/>
                <span asp-validation-for="User.Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control"/>
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Telephone" class="control-label"></label>
                <input asp-for="User.Telephone" class="form-control"/>
                <span asp-validation-for="User.Telephone" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="User.IsAdmin"/>
                    @Html.DisplayNameFor(model => model.User.IsAdmin)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}