@page
@model animalShelter.Pages.About.IndexModel

@{
    ViewData["Title"] = "About Us";
}
<br/>
<div class="text-center">
    <h1 class="align-center">About Us</h1>
</div>
<div class="text-center">
    <br/>
    <h3>
        Adopting a pet will save a pet's life.
        The number one reason to adopt a pet is that you will be saving his life.
        Many shelters are overflowing with dogs and cats, they sometimes
        have to turn away animals simply because they do not have enough room.
        So when you adopt your dog or a cat, another one can take his place.
        Another one will have a second chance.
    </h3>
     <br/>
    <a asp-page="/Contact/Index" class="btn btn-primary">Get in touch here!</a>
</div>