@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<br/>
<div class="text-center">
    <h1 class="display-4">Welcome to our Animal Shelter</h1>
    <br/>
    <p>Learn about our animals...</p>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2019/12/20/15/30/dog-4708726_1280.jpg"
             alt="Puppy Xmas">
        <div class="card-body">
            <h5 class="card-title">Donate to us</h5>
            <p class="card-text">Please donate some money so we can get a lot of toys and food</p>
            <a asp-page="/Payment" class="btn btn-primary">See options here!</a>
        </div>
    </div>
</div>