@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<br/>
<div class="text-center">
    <h1 class="display-4">Welcome to our Animal Shelter</h1>
    <br/>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2019/12/20/15/30/dog-4708726_1280.jpg"
                 alt="Puppies at Christmas">
            <div class="card-body">
                <h5 class="card-title">Donate to Us</h5>
                <p class="card-text">Any donation - big or small - is appreciated</p>
                <a asp-page="/Payment" class="btn btn-primary">See options here!</a>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/28/11/44/sunset-743429__480.jpg"
                 alt="Dog and owner">
            <div class="card-body">
                <h5 class="card-title">Volunteers and Fosterers Wanted!</h5>
                <p class="card-text">Help to keep our pets happy and socialised</p>
                <a asp-page="/Contact/Index" class="btn btn-primary">Get in touch here!</a>
            </div>
        </div>

        <div class="col-1"></div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2014/11/28/08/40/paw-548634__480.jpg"
                 alt="Hand and paw">
            <div class="card-body">
                <h5 class="card-title">Adoption Details</h5>
                <p class="card-text">Change the life of a pet... and your own!</p>
                <a asp-page="/About/Index" class="btn btn-primary">Read more here!</a>
            </div>
        </div>
    </div>
</div>